*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

.wrapper{
    width:100vw;
    height:100vh;
    color: #ffffff;
    background-image: linear-gradient(160deg, #110b21 0%, #6c17da 100%);;
}

h1 {
    text-align: center;
    text-transform:uppercase;
    padding-top: 20px;
}

.tab-container {
    width:90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: rgba(0, 0, 0, 0.463);
    border-radius: 5px;
    padding: 10px;
}

.weather-container{
    margin-block:4rem;
}

.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.292);
    cursor: pointer;
    padding: 10px 30px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.463);
}

.sub-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.grant-location-container{
     display:none; 
}

.grant-location-container.active{
    display:flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
}

.grant-location-container p:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    display:none;
}

.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.user-info-container p{
    font-size:1.5rem;
    font-weight:200;
}

.user-info-container img{
    width:60px;
    height:60px;
}

.name p{
        font-size:2rem;
}

.name img{
    width: 30px;
    height:30px;
    object-fit: contain;
}

.user-info-container p[data-temp] {
    font-size:2.75rem;
    font-weight:700;
}

.parameter-container{
    width:90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.parameter{
    width:30%;
    max-width:200px;
    background-color: rgba(0, 0, 0, 0.463);
    border-radius: 5px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:5px 0;
    align-items: center; 

}   

.parameter img{
    width:50px;
    height:50px;
}

.parameter p:first-of-type{
    font-size: 1.5rem;
    font-weight:600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width:90%;
    max-width:550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px; 
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height:40px;
    padding: 0px 20px 3px;
    background-color: rgba(0, 0, 0, 0.292);
    border-radius: 25px;
}

.form-container input::placeholder{
    color: #ffffffc1;
}

.form-container input:focus{
    outline: 2px solid #ffffffc1;
}

.form-container .btn {
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
} 

@media screen and (max-width:600px) {

    .parameter{
        height: 120px;
    }   
    
    .parameter img{
        width:40px;
        height:40px;
    }
    
    .parameter p:first-of-type{
        font-size: 15px;
    }
    
    .parameter p:last-of-type{
        font-size: 12px;
        font-weight: 300;
    }
    
}